<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ page.description | default: site.description | escape }}">
  <title>{{ page.title | default: site.title | escape }}</title>
  
  <!-- Favicon -->
  <!-- <link rel="icon" type="image/png" href="/favicon.png"> -->
  
  <!-- Tailwind CSS -->
  <link rel="stylesheet" href="/assets/css/output.css">
  
  <!-- SEO: Open Graph data -->
  <meta property="og:title" content="{{ page.title | default: site.title | escape }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ page.url | absolute_url }}">
  <meta property="og:description" content="{{ page.description | default: site.description | escape }}">
  <meta property="og:image" content="/assets/images/posts/{{ page.image | default: 'default-image.jpg'  }}">
  
  <!-- SEO: Twitter Card data -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{ page.title | default: site.title | escape }}">
  <meta name="twitter:description" content="{{ page.description | default: site.description | escape }}">
  
</head>
<body class="bg-gray-100">
  
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <header class="bg-white shadow">
      <div class="py-6 px-4 sm:px-6 lg:px-8">
        <a href="/" class="text-3xl font-bold leading-tight text-gray-900">Fellipe Brito</a>
        <p class="mt-2 text-base text-gray-600">"Remember you gonna die... but not today."</p>
      </div>
    </header>
        
    <main class="mt-8">
      {{ content }}
    </main>
    
    <footer class="bg-white">
      <div class="py-6 px-4 sm:px-6 lg:px-8">
        <p class="text-base text-gray-600">&copy; {{ site.time | date: '%Y' }} {{ site.author | escape }}. All rights reserved.</p>
      </div>
    </footer>
  </div>
  
</body>
</html>
