---
layout: default
---

<article class="post-article">
  {% if page.image %}
    <header class="post-header bg-cover bg-center" style="background-image: url('/assets/images/posts/{{ page.image }}');">
  {% else %}
    <header class="post-header">
  {% endif %}
      <div class="header-content p-4 md:p-16">
          <h1 class="text-3xl md:text-5xl font-bold text-white">{{ page.title | escape }}</h1>
          <p class="text-base text-gray-600">
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <time datetime="{{ page.date | date_to_xmlschema }}" class="inline-block">
              {{ page.date | date: date_format }}
            </time>
            {%- if page.modified_date -%}
              <span class="mx-1">~</span>
              <time datetime="{{ page.modified_date | date_to_xmlschema }}" class="inline-block">
                {{ page.modified_date | date: date_format }}
              </time>
            {%- endif -%}
          </p>
      </div>
    </header>

    <div class="post-content p-8 my-4 mx-auto max-w-4xl bg-white shadow-lg rounded-lg leading-relaxed">
      <article class="prose lg:prose-xl prose-indigo mx-auto">
        {{ content }}
      </article>
    </div>
</article>